In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data scientist_1.csv')
df2 = pd.read_csv('data scientist_2.csv')

In [6]:
df

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,0,"Daiichi Sankyo, Inc.\n4.1","Senior Analyst, Statistical Programming","Basking Ridge, NJ",Join a Legacy of Innovation 110 Years and Coun...,"$97,140 /yr (est.)",10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,1899.0,$5 to $10 billion (USD)
1,1,Northrop Grumman\n4.0,Principal Data Scientist,"Clearfield, UT",Requisition ID: R10102744\nCategory: Research ...,"$124,400 /yr (est.)",10000+ Employees,Company - Public,Aerospace & Defense,Aerospace & Defense,1939.0,$10+ billion (USD)
2,2,Confidential,"Applied Scientist, Generative AI Research","El Segundo, CA",Summary of Position\nWe are looking for a tale...,"$135,000 /yr (est.)",NaN,NaN,NaN,NaN,NaN,NaN
3,3,Near-Miss Management,Senior Data Scientist - Accepting Recent PhD G...,"Philadelphia, PA",Near-Miss Management (NMM) is seeking a talent...,"$125,000 /yr (est.)",NaN,NaN,NaN,NaN,NaN,NaN
4,4,ENGIE North America Inc.\n3.9,Data Scientist Advisor (Portfolio & Load Analy...,"Houston, TX","Requisition ID: 10954\nLocation: Houston, TX, ...","$164,498 /yr (est.)",10000+ Employees,Company - Public,"Energy, Mining & Utilities",Energy & Utilities,2008.0,$25 to $100 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,OneMagnify\n4.4,Data Scientist,"Detroit, MI",OneMagnify is a one-of-a-kind combination of t...,"$120,367 /yr (est.)",201 to 500 Employees,Company - Private,Media & Communication,Advertising & Public Relations,1967.0,Unknown / Non-Applicable
296,296,Liberty Personnel Services\n4.5,GCP CCAI Vertex AI Developer Remote,"Philadelphia, PA",GCP CCAI Vertex AI Developer Remote\nGrowing i...,"$150,000 /yr (est.)",1 to 50 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2003.0,$5 to $25 million (USD)
297,297,Pragmatics,Junior Data Scientist,"Columbia, MD",Junior Data Scientist to provide support to a ...,"$130,000 /yr (est.)",NaN,NaN,NaN,NaN,NaN,NaN
298,298,VirginPulse\n3.4,Data Scientist I,Remote,Overview:\nJoin Virgin Pulse Today!\n\nVirgin ...,"$95,000 /yr (est.)",501 to 1000 Employees,Company - Private,Information Technology,Computer Hardware Development,2004.0,$100 to $500 million (USD)
299,299,Kforce\n4.0,Data Scientist,"Philadelphia, PA",RESPONSIBILITIES:\nKforce has a client that is...,$65.00 /hr (est.),10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1962.0,$1 to $5 billion (USD)

In [7]:
df2

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,0,"Daiichi Sankyo, Inc.\n4.1","Senior Analyst, Statistical Programming","Basking Ridge, NJ",Join a Legacy of Innovation 110 Years and Coun...,"$97,140 /yr (est.)",10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,1899.0,$5 to $10 billion (USD)
1,1,"Daiichi Sankyo, Inc.\n4.1","Director, Statistical Programming (Technology ...","Basking Ridge, NJ",Join a Legacy of Innovation 110 Years and Coun...,"$158,939 /yr (est.)",10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,1899.0,$5 to $10 billion (USD)
2,2,Epsilon\n3.9,"PhD Director, Data Science R&D (Decision Scien...","Chicago, IL","Job Description\n\nIn this role, you will assu...","$116,352 /yr (est.)",5001 to 10000 Employees,Subsidiary or Business Segment,Media & Communication,Advertising & Public Relations,1969.0,$1 to $5 billion (USD)
3,3,Signal Systems Corporation,Acoustic Signal Processing Engineer - Data Sci...,"Millersville, MD",Signal Systems Corporation (SSC) is searching ...,"$129,337 /yr (est.)",NaN,NaN,NaN,NaN,NaN,NaN
4,4,CACI\n3.9,Data Scientist,"Charlottesville, VA",Data Scientist\nJob Category: Science\nTime Ty...,NaN,10000+ Employees,Company - Public,Aerospace & Defense,Aerospace & Defense,1962.0,$1 to $5 billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,DCI Solutions\n3.7,Data Scientist (V),"Aberdeen, MD",DCI Job Requirement for:\nData Scientist\nLoca...,"$160,000 /yr (est.)",1 to 50 Employees,Contract,NaN,NaN,NaN,Unknown / Non-Applicable
446,446,"Tek Intelligence, Inc.",Senior Finance Data Analyst,"Jacksonville, FL",The Senior Finance Data Analyst is responsible...,"$82,500 /yr (est.)",NaN,NaN,NaN,NaN,NaN,NaN
447,447,Old Republic Title\n3.5,Machine Learning Supervisor,"Minnetonka, MN",Job Description:\nWe are seeking a talented an...,"$100,208 /yr (est.)",1001 to 5000 Employees,Subsidiary or Business Segment,Insurance,Insurance Carriers,1979.0,$100 to $500 million (USD)
448,448,"ON1, inc.",AI Software Engineer,"Portland, OR","Don't be a Cog in Big-Tech's Wheel\nAt ON1, yo...","$120,174 /yr (est.)",NaN,NaN,NaN,NaN,NaN,NaN
449,449,"Sysdata Consulting, Inc",Contract Senior Statistical Programmer (Remote),Remote,We are helping a small pharmaceutical company ...,$100.00 /hr (est.),NaN,NaN,NaN,NaN,NaN,NaN